.flex {
 display: flex;
 width: 100vw;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
#image {
 max-width: 100%;
 height: auto;
 display: block;
}
body {
 background-color: black;
 color: #B2BEB5;
}
