@import url('https://fonts.googleapis.com/css?family=Barlow');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

#author{
 color: red;
 font-family: Barlow;
}
#quote{
 font-family: Barlow, sans-serif;
}
#link {
 font-size: 25px;
 font-family: Spectral SC, sans-serif;
}
footer {
 display: flex;
 flex-direction: column;
 width: 100vw;
 height: 20vh;
}
